<button id="pay-now">Confirm Purchase</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
function redirectToStripe() {
    var stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>");
    stripe.redirectToCheckout({
        sessionId: '<%= @session.id %>'
    }).then(function (result) {

    });
}

document.querySelector("#pay-now").addEventListener("click", redirectToStripe)
</script>